.sidebar {
  width: 300px;
  border-right: 1px solid #eeeeee;
  float: left;
  height: calc(100vh - 125px);
  position: fixed;
  top: 64px;
  overflow: hidden;
}

.main {
  min-height: calc(100vh - 150px);
  width: auto;
  margin-left: 320px;
  background-color: #ffffff;
}

.error-page {
  margin-left: 0;
}
